<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Biblio</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/simple-line-icons.min.css">
  <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
  <div class="container my-5">
    <div class="row d-flex justify-content-center my-5 py-5">
      <div class="col py-5 my-5 d-flex justify-content-center" id="forgotPassword">
        <div class="card mb-5">
          <div class="card-body d-flex flex-column align-items-center py-5">
            <img style="width:255px" src="img/logobiblio.png">
            <p style="color:#2fa4e7"><b>REINITIALISER LE MOT DE PASSE</b></p>
            <p>Entrez votre email et nous allons envoyer un lien pour reinitialiser  votre mot de passe</p>
            <form class="text-center my-5" id="forgotPassword" th:action="@{/forgotpassword}" th:object="${passwordForgot}" method="post">
              <div>
                <div class="mb-3"><input class="form-control" style="width:200 !important;" type="email" th:field="*{email}" 
               th:errorClass="is-invalid" name="email" placeholder="Email" required></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">ENVOYER</button></div>
                
              </div>
              

            </form>
            
            <a href="#" class="text-muted">Retour a la Connexion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="https://geodata.solutions/includes/countrystate.js"></script>
  <script src="js/script.min.js"></script>
</body>

</html>