<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Biblio</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
  <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
  
  <div class="container py-5 px-5">
    <div class="text-center"><img style="width:300px" src="img/logobiblio.png"></div>
    <div class="row">

      <div class="col-xl-0">
           <span><b>Veuillez consulter votre boite mail</b></span>
           <p>Le lien d'activation a été envoyé dans votre boite mail, veuillez le consulter pour activer votre compte.</p>
           <a  href="#">Continuer vers la page d'accueil</a>
      </div>
    </div>

  </div>
  
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="https://geodata.solutions/includes/countrystate.js"></script>
  <script src="assets/js/script.min.js"></script>
</body>

</html>